---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos?access_token=6f83719d08c35bb5de6522b7e4309a6c55ebf6e0&sort=updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1488592783'
      Etag:
      - W/"87018ec36b6e5392683fafc0e190f8c8"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?sort=updated&access_token=6f83719d08c35bb5de6522b7e4309a6c55ebf6e0&page=2>;
        rel="next", <https://api.github.com/user/repos?sort=updated&access_token=6f83719d08c35bb5de6522b7e4309a6c55ebf6e0&page=5>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":80440141,"name":"js_immigration-data","full_name":"DanielMunger/js_immigration-data","owner":{"login":"DanielMunger","id":20629447,"avatar_url":"https://avatars3.githubusercontent.com/u/20629447?v=3","gravatar_id":"","url":"https://api.github.com/users/DanielMunger","html_url":"https://github.com/DanielMunger","followers_url":"https://api.github.com/users/DanielMunger/followers","following_url":"https://api.github.com/users/DanielMunger/following{/other_user}","gists_url":"https://api.github.com/users/DanielMunger/gists{/gist_id}","starred_url":"https://api.github.com/users/DanielMunger/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/DanielMunger/subscriptions","organizations_url":"https://api.github.com/users/DanielMunger/orgs","repos_url":"https://api.github.com/users/DanielMunger/repos","events_url":"https://api.github.com/users/DanielMunger/events{/privacy}","received_events_url":"https://api.github.com/users/DanielMunger/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/DanielMunger/js_immigration-data","description":"Angular
        app using D3 to visualize immigration data","fork":false,"url":"https://api.github.com/repos/DanielMunger/js_immigration-data","forks_url":"https://api.github.com/repos/DanielMunger/js_immigration-data/forks","keys_url":"https://api.github.com/repos/DanielMunger/js_immigration-data/keys{/key_id}","collaborators_url":"https://api.github.com/repos/DanielMunger/js_immigration-data/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/DanielMunger/js_immigration-data/teams","hooks_url":"https://api.github.com/repos/DanielMunger/js_immigration-data/hooks","issue_events_url":"https://api.github.com/repos/DanielMunger/js_immigration-data/issues/events{/number}","events_url":"https://api.github.com/repos/DanielMunger/js_immigration-data/events","assignees_url":"https://api.github.com/repos/DanielMunger/js_immigration-data/assignees{/user}","branches_url":"https://api.github.com/repos/DanielMunger/js_immigration-data/branches{/branch}","tags_url":"https://api.github.com/repos/DanielMunger/js_immigration-data/tags","blobs_url":"https://api.github.com/repos/DanielMunger/js_immigration-data/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/DanielMunger/js_immigration-data/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/DanielMunger/js_immigration-data/git/refs{/sha}","trees_url":"https://api.github.com/repos/DanielMunger/js_immigration-data/git/trees{/sha}","statuses_url":"https://api.github.com/repos/DanielMunger/js_immigration-data/statuses/{sha}","languages_url":"https://api.github.com/repos/DanielMunger/js_immigration-data/languages","stargazers_url":"https://api.github.com/repos/DanielMunger/js_immigration-data/stargazers","contributors_url":"https://api.github.com/repos/DanielMunger/js_immigration-data/contributors","subscribers_url":"https://api.github.com/repos/DanielMunger/js_immigration-data/subscribers","subscription_url":"https://api.github.com/repos/DanielMunger/js_immigration-data/subscription","commits_url":"https://api.github.com/repos/DanielMunger/js_immigration-data/commits{/sha}","git_commits_url":"https://api.github.com/repos/DanielMunger/js_immigration-data/git/commits{/sha}","comments_url":"https://api.github.com/repos/DanielMunger/js_immigration-data/comments{/number}","issue_comment_url":"https://api.github.com/repos/DanielMunger/js_immigration-data/issues/comments{/number}","contents_url":"https://api.github.com/repos/DanielMunger/js_immigration-data/contents/{+path}","compare_url":"https://api.github.com/repos/DanielMunger/js_immigration-data/compare/{base}...{head}","merges_url":"https://api.github.com/repos/DanielMunger/js_immigration-data/merges","archive_url":"https://api.github.com/repos/DanielMunger/js_immigration-data/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/DanielMunger/js_immigration-data/downloads","issues_url":"https://api.github.com/repos/DanielMunger/js_immigration-data/issues{/number}","pulls_url":"https://api.github.com/repos/DanielMunger/js_immigration-data/pulls{/number}","milestones_url":"https://api.github.com/repos/DanielMunger/js_immigration-data/milestones{/number}","notifications_url":"https://api.github.com/repos/DanielMunger/js_immigration-data/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/DanielMunger/js_immigration-data/labels{/name}","releases_url":"https://api.github.com/repos/DanielMunger/js_immigration-data/releases{/id}","deployments_url":"https://api.github.com/repos/DanielMunger/js_immigration-data/deployments","created_at":"2017-01-30T16:36:40Z","updated_at":"2017-03-03T20:55:53Z","pushed_at":"2017-02-03T05:22:04Z","git_url":"git://github.com/DanielMunger/js_immigration-data.git","ssh_url":"git@github.com:DanielMunger/js_immigration-data.git","clone_url":"https://github.com/DanielMunger/js_immigration-data.git","svn_url":"https://github.com/DanielMunger/js_immigration-data","homepage":null,"size":16479,"stargazers_count":2,"watchers_count":2,"language":"TypeScript","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":3,"mirror_url":null,"open_issues_count":0,"forks":3,"open_issues":0,"watchers":2,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":73095620,"name":"portland-breweries","full_name":"ryanpeterson08/portland-breweries","owner":{"login":"ryanpeterson08","id":8027982,"avatar_url":"https://avatars0.githubusercontent.com/u/8027982?v=3","gravatar_id":"","url":"https://api.github.com/users/ryanpeterson08","html_url":"https://github.com/ryanpeterson08","followers_url":"https://api.github.com/users/ryanpeterson08/followers","following_url":"https://api.github.com/users/ryanpeterson08/following{/other_user}","gists_url":"h[...]
